page-register {
.input{
    width: 100px;
    border: 1px solid black;
}
.right{
    float:right;
    margin-top:5px;
}
.left{
float:left;
margin-left:60px;
margin-top:5px;

}
.lt{
    float: left;
    font-size: 30px;
    margin-left: 10px;
}
}
